.main-body{
  content: "";
  width: max(300px, 600px);
  height: max(150px, 300px);

  margin-top: 100px;
  margin-left: 100px;
   
}


h1{
  font-size: max(50px, 100px);
  width: max(200px, 1000px);
  background:linear-gradient( white, cyan);
   background-clip: text;
   color: transparent;
}

.button{
  width: 110px;
  height: 30px;
  background:linear-gradient( white, cyan);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;

  margin-top: 15px;
}

.button:hover{
   background:linear-gradient( skyblue,rgb(56, 56, 56), white);
 color: white;
 transition: all 0.25s;
}

.button{
padding-bottom: 5px;
justify-content: center;
align-items: center;
}

.img-arrow {
  width: 15px;
  height: 15px;
  margin-top: -1px;
}


.img-body{
  display: flex;               
  justify-content: center;  
  align-items: center;       
  height: 500px; 

  margin-top: 150px;
  margin-left: 25%;

  max-width: 100%;             
  max-height: 100%;            
  object-fit: contain;       
  position: relative;
   animation: slideUp 1.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.what-we-do {
  font-size: 30px;
  margin-left: 600px;
  margin-top: 150px;
  width: 450px;
}

.eye-img, .scope-img {
  margin-top: 100px;
  margin-left: 200px;
  width: 500px;
}

.eye-content {
  display: flex;
  flex-direction: row;

  align-items: center;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 50px;
  width: 500px;
 
}

.slide-up { 
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.slide-up.show {
  opacity: 1;
  transform: translateY(0);
}

.eye-content p{
  margin-top: 200px;
  margin-left: 50px;
}

.scope-content {
  margin-top: 150px;
  margin-left: 300px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.scope-img {
  width: 500px;
}

.scope-text {
  width: 400px;
  font-size: 20px;

 margin: 0;
}

.work-section {
  font-weight: 500;
  font-size: 25px;
  margin: 100px;
  margin-left: 500px;
 align-content: center;
}

.btn-work-section {
  margin-top: 15px;
  margin-left: 20%;
}