body{
  background-color: rgba(0, 0, 0, 0.86);
  justify-items: center;
  margin-top: 100px;

  padding-bottom: 1000px;
}

body::selection{
  background-color: rgb(255, 255, 255);
  color: green;
}

 #box1, #box2, #box3 {
  width: 250px;
  height: 250px;
  background-color: hsl(0, 100%, 62%);
  font-size: 13em;
  text-align: center;
  margin-bottom: 15px;
  border: 5px black;
  border-radius: 10px;

  animation-name: slideLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count:1;
  cursor: pointer;

}

/* #box1:hover, #box2:hover, #box3:hover, button:hover {

} */


#box2 {
  background-color: rgb(81, 221, 81);
}

#box3{
  background-color: rgb(200, 57, 200);
}


@keyframes slideLeft {
  from {transform: translate(300%);}
  50% {transform: scale(0.5, 0.5);}
  from {transform: translateY(300%);}
  to {transform: translateX(300%);}
  
  20% {box-shadow: 0px 0px 50px hsl(60, 100%, 64%);} 
  40% {box-shadow: 0px 0px 50px hsl(241, 72%, 61%);}
  60% {box-shadow: 0px 0px 50px hsl(294, 98%, 57%);}

  0%{background-color: rgb(234, 59, 59);}
  20%{background-color: rgb(231, 220, 65);}
 40%{background-color: rgb(83, 243, 80);}
  60%{background-color: rgb(75, 129, 223);}
   80%{background-color: rgb(230, 93, 191);}
    100%{background-color: rgb(238, 54, 164);}
}



.card {
  position: relative;
  display: flex;
  width: 250px;
  height: 450px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  font-size: 700;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 130%;
  background-image: 
        linear-gradient(180deg, #ff00c8, cyan);
      animation: animate 3s linear infinite;
      transition: all 3s linear;  
}

.card::after {
  content: '';
  position: absolute;
  inset: 5px;
  background-color: #141414;
  border-radius: 15px;
   box-shadow: 0px 0px 50px hsl(0, 0%, 100%); 
}

@keyframes animate {
  from {
    transform:  rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content{
  z-index: 100;
  font-weight: 700;
  font-family: Arial;
  font-size: 40px;
  cursor: pointer;
}

.product-container{
  z-index: 1;
}